<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >


<suite name = "eBankingProject">
	<listeners>
		<listener class-name="eBankingUtilities.Reporting"/>
	</listeners>

	<test name="Banking Application Test">
	<parameter name="browser" value="chrome"/>
		<classes>
		<class name="eBankingTestCases.TC_LoginTest_001"/>
		<class  name="eBankingTestCases.TC_LoginDDT_002"/>
		<class  name="eBankingTestCases.TC_AddCustomerTest_003"/>
		</classes>
	</test>
</suite>